<h1>一覧</h1>

  <div>
    <% @posts.each do |post| %>
      <p>ユーザー:<%= post.user.name %></p>
      <p>タイトル:<%= link_to post_path(post) do %>
        <%= post.title %>
        <% end %>
      </p>
      <p>説明:<%= post.body %></p>
      <p><%= render "favorites/favorite", post: post %></p>
    <% end %>
  </div>


